<div class="row gx-0">

    <div class="col-md-9">
        <owl-carousel-o [options]="customOptions">
            
             <ng-template carouselSlide> <img height="400" src="assets/img/slider-7.jpeg">  </ng-template>
             <ng-template carouselSlide> <img height="400" src="assets/img/slider-5.jpeg">  </ng-template>
             <ng-template carouselSlide> <img height="400" src="assets/img/slider-3.jpeg">  </ng-template>
             <!-- <ng-template carouselSlide> <img src="../../assets/img/slider-4.jpeg">  </ng-template>
             <ng-template carouselSlide> <img src="../../assets/img/slider-5.jpeg">  </ng-template>
             <ng-template carouselSlide> <img src="../../assets/img/slider-7.jpeg">  </ng-template> -->


          </owl-carousel-o>
    </div>

    <div class="col-md-3">
        <!-- <img class="w-100" src="../../assets/img/slider-1.jpeg"  height="200" alt=""> -->
        <img class="w-100" src="../../assets/img/slider-2.jpeg"  height="200" alt="">
        <img class="w-100" src="../../assets/img/slider-4.jpeg"  height="200" alt="">

    </div>

</div>