@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@700&display=swap');

:root 
{
    --main-color:#0aad0a;   
    --light-color:#f0f3f2;
    --font-family:'Encode Sans Expanded', sans-serif;
    --rating-color:#ffc908;
}

body
{
    font-family: var(--font-family) !important;
}

.bg-main
{
    background-color: var(--main-color) !important;
}

.rating-color
{
    color: var(--rating-color);
}
.cursor-pointer
{
    cursor: pointer;
}
a ,a:hover
{
    color: #000;
    text-decoration: none;
}

.product:hover
{
     border: solid 1px var(--main-color);
}
.product .btn
{
  opacity: 0;
  transform: translateY(100%);
  transition: all 1s;
}


.product:hover .btn 
{
    opacity: 1;
    transform: translateY(0%);
}



.font-sm
{
    font-size: 14px;
}

.text-main
{
    color:var(--main-color)
}
.bg-main-light
{
    background-color: var(--light-color);
}